*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.ttt {
    background-image: url(../images/board.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas:
    "1 2 3"
    "4 5 6"
    "7 8 9";
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 600px;
    width: 600px;
}

.box {
    width: 160px;
    height: 160px;
    margin: 20px;
}

.x {
    background-image: url(../images/red.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.y {
    background-image: url(../images/yellow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

#restart {
    margin-right: 20px
}
#reset {
    margin-left: 20px;
}
.button {
    margin-top: 30px;
    width: 90px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
}